<?xml version="1.0" encoding="utf-8" standalone="no"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.settings.ui_cards"
        android:versionCode="1"
        android:versionName="1.0">
    <overlay android:targetPackage="com.android.settings"
        android:category="android.theme.customization.settings_cards"
        android:priority="1"/>

    <application android:allowBackup="false" android:label="Settings cards" android:hasCode="false"/>
</manifest>
